
/* Causes the image to auto-resize up to the original width */
img {
    height: auto;
    max-width: 100%;
}

.image-center {
    display: block;
    margin: 0 auto;     /* Centers the image by spreading margin out left & right */
}

.image-container {
    margin: auto 10%;
}

.caption-text {
    text-align: center;
    font-size: 1.5em;
    font-family: sans-serif;
    margin: 10px auto;
}
