* {
    font-family: sans-serif;
}

.container {
    /* Positons the container relative to its normal positon*/
    position: relative;
}

.center {
    /* Ensures the text is placed where we specify regardless of everything else */
    position: absolute;
    top: 50%;       /* Centers vertically */
    left: 50%;      /* Centers horizontally */
    transform: translate(-50%, -50%);   /* Moves center of text to the middle */
}

.top-left {
    /* Ensures the text is placed where we specify regardless of everything else */
    position: absolute;
    top: 8px;       /* Vertical position */
    left: 16px;    /* Relative horizontal positon */
}

.top-right {
    /* Ensures the text is placed where we specify regardless of everything else */
    position: absolute;
    top: 8px;       /* Vertical position */
    right: 16px;    /* Relative horizontal positon */
}

.bottom-left {
    /* Ensures the text is placed where we specify regardless of everything else */
    position: absolute;
    bottom: 8px;       /* Vertical position */
    left: 16px;    /* Relative horizontal positon */
}

.bottom-right {
    /* Ensures the text is placed where we specify regardless of everything else */
    position: absolute;
    bottom: 8px;       /* Vertical position */
    right: 16px;    /* Relative horizontal positon */
}

img {
    width: 100%;
    height: auto;   /* Keeps the image responsive */
    opacity: 0.3;   /* To se the text more clearly */
}
